<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923627723652-vunmhl6bo74dffuflm1afs5j98hp1vft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923627723652-vunmhl6bo74dffuflm1afs5j98hp1vft</string>
	<key>API_KEY</key>
	<string>AIzaSyBDWHm69sBhXmzsP_4D6wWdCpLF44z02io</string>
	<key>GCM_SENDER_ID</key>
	<string>923627723652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodOrderApp</string>
	<key>PROJECT_ID</key>
	<string>food-order-app-d6c2a</string>
	<key>STORAGE_BUCKET</key>
	<string>food-order-app-d6c2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923627723652:ios:599fb5fd8647df1096dbd1</string>
</dict>
</plist>